.fifthBtn{
    width: 210px;
    height: 330px;
    margin: 10px;
    margin-right: 25px;
    border: 9px solid white;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    padding-right: 9px;
    padding-top: 6px;
}
.fifthBtn:hover{
    scale: 110%;
    animation-duration: 1200;
    box-shadow: 0px 0px 30px #666666;
}
.div5{
    border: 2px solid white;
    border-radius: 7px;
    width: 100%;
    height: 75%;
}
.p5{
    font-size: 23px;
    color: #666666;
}