.display{
  width: 100px;
  height: 200px;
}
body{
  background-color: #e6e6e6;
  font-family: 'Inter', sans-serif;
}
.body{
  text-align: center;
  margin: 110px;
}
.changeBtn{
  margin-top: 40px;
  border: 2px solid blueviolet;
  border-radius: 8px;
  background-color: blueviolet;
  color: white;
  padding: 4px;
  width: 400px;
  height: 70px;
  font-size: 20px;
  cursor: pointer;
}
.spaceBar{
  margin-top: 20px;
  text-align: center;
}